# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

dados = [-0.08,0.27,0.12,-0.03,0.26,0.40,1.02]
dadossindex = pd.Series(dados)
dadossindex

0   -0.08
1    0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
dadoscindex = pd.Series(dados, index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])
dadoscindex

1900   -0.08
1920    0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temperaturas_serie = pd.Series(dic_temperaturas)
dic_temperaturas_serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [7]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr)
df

             0           1           2
0    99.113848   91.664847   95.356368
1   106.370353  101.290803  118.431454
2   104.545959  109.555464   98.643015
3    95.450504   98.947674  104.489818
4    89.538812  111.502026   92.895350
5   117.927239   94.277666  112.881390
6    87.466283  106.252184   97.377202
7   110.844630  113.419509  105.409463
8   105.591238  103.579017   93.304939
9   105.078416  102.642961   87.699262
10  103.867117   82.410519   92.904582
11   85.679910   95.464420   88.869401
12   93.949704  105.482457  100.958913
13   96.966335  107.544251   97.564253
14   91.646267   83.080752  107.884255
15   91.104808   91.413558   75.333832
16   98.393020  105.502778  110.469002
17   91.684769   86.957277  104.884767
18   91.781347   99.022721   99.561308
19  102.427734  100.866993   88.377133

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [14]:
df = pd.DataFrame(arr, columns=["x1", "x2", "x3"])
df.rename(index=lambda x: x + 1, inplace=True)
df

            x1          x2          x3
1    99.113848   91.664847   95.356368
2   106.370353  101.290803  118.431454
3   104.545959  109.555464   98.643015
4    95.450504   98.947674  104.489818
5    89.538812  111.502026   92.895350
6   117.927239   94.277666  112.881390
7    87.466283  106.252184   97.377202
8   110.844630  113.419509  105.409463
9   105.591238  103.579017   93.304939
10  105.078416  102.642961   87.699262
11  103.867117   82.410519   92.904582
12   85.679910   95.464420   88.869401
13   93.949704  105.482457  100.958913
14   96.966335  107.544251   97.564253
15   91.646267   83.080752  107.884255
16   91.104808   91.413558   75.333832
17   98.393020  105.502778  110.469002
18   91.684769   86.957277  104.884767
19   91.781347   99.022721   99.561308
20  102.427734  100.866993   88.377133

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [24]:
df['media'] = df.mean(axis=1)

In [25]:
df

            x1          x2          x3       media
1    99.113848   91.664847   95.356368   95.378354
2   106.370353  101.290803  118.431454  108.697537
3   104.545959  109.555464   98.643015  104.248146
4    95.450504   98.947674  104.489818   99.629332
5    89.538812  111.502026   92.895350   97.978729
6   117.927239   94.277666  112.881390  108.362098
7    87.466283  106.252184   97.377202   97.031890
8   110.844630  113.419509  105.409463  109.891201
9   105.591238  103.579017   93.304939  100.825065
10  105.078416  102.642961   87.699262   98.473546
11  103.867117   82.410519   92.904582   93.060739
12   85.679910   95.464420   88.869401   90.004577
13   93.949704  105.482457  100.958913  100.130358
14   96.966335  107.544251   97.564253  100.691613
15   91.646267   83.080752  107.884255   94.203758
16   91.104808   91.413558   75.333832   85.950733
17   98.393020  105.502778  110.469002  104.788267
18   91.684769   86.957277  104.884767   94.508938
19   91.781347   99.022721   99.561308   96.788459
20  102.427734  100.866993   88.377133   97.223953

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [29]:
df['log_med'] = df['media'].apply(lambda x: np.log(x))
df

            x1          x2          x3       media   log_med
1    99.113848   91.664847   95.356368   95.378354  4.557852
2   106.370353  101.290803  118.431454  108.697537  4.688569
3   104.545959  109.555464   98.643015  104.248146  4.646774
4    95.450504   98.947674  104.489818   99.629332  4.601457
5    89.538812  111.502026   92.895350   97.978729  4.584750
6   117.927239   94.277666  112.881390  108.362098  4.685478
7    87.466283  106.252184   97.377202   97.031890  4.575040
8   110.844630  113.419509  105.409463  109.891201  4.699491
9   105.591238  103.579017   93.304939  100.825065  4.613387
10  105.078416  102.642961   87.699262   98.473546  4.589788
11  103.867117   82.410519   92.904582   93.060739  4.533252
12   85.679910   95.464420   88.869401   90.004577  4.499861
13   93.949704  105.482457  100.958913  100.130358  4.606473
14   96.966335  107.544251   97.564253  100.691613  4.612063
15   91.646267   83.080752  107.884255   94.203758  4.545460
16   91.104808   91.413558   75.333832   85.950733  4.453774
17   98.393020  105.502778  110.469002  104.788267  4.651942
18   91.684769   86.957277  104.884767   94.508938  4.548694
19   91.781347   99.022721   99.561308   96.788459  4.572528
20  102.427734  100.866993   88.377133   97.223953  4.577017